apps/springboot-backend/src/main/resources/amice/OpvragenStatusService.wsdl

<wsdl:definitions xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://amice.lma.nl/AmiceWebServices3/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://amice.lma.nl/AmiceWebServices3/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><b>Omschrijving</b><br>Deze WebService biedt een functie om de status van afvalstroomnummers in het AMICE systeem op te vragen.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://amice.lma.nl/AmiceWebServices3/">
      <s:element name="OpvragenStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AfvalstroomNummer" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="MeldPeriode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="VerwerkersNummer" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpvragenStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpvragenStatusResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OpvragenStatusSoapIn">
    <wsdl:part name="parameters" element="tns:OpvragenStatus"/>
  </wsdl:message>
  <wsdl:message name="OpvragenStatusSoapOut">
    <wsdl:part name="parameters" element="tns:OpvragenStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="OpvragenStatusHttpGetIn">
    <wsdl:part name="AfvalstroomNummer" type="s:string"/>
    <wsdl:part name="MeldPeriode" type="s:string"/>
    <wsdl:part name="VerwerkersNummer" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="OpvragenStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="OpvragenStatusHttpPostIn">
    <wsdl:part name="AfvalstroomNummer" type="s:string"/>
    <wsdl:part name="MeldPeriode" type="s:string"/>
    <wsdl:part name="VerwerkersNummer" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="OpvragenStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:portType name="OpvragenStatusServiceSoap">
    <wsdl:operation name="OpvragenStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><b>Omschrijving</b><br>Deze functie doet een aanvraag voor de status van een afvalstroomnummer. Terugkoppeling gebeurt met een XML-bericht via E-mail.<br><b>Returns</b><br>'True' indien de aanvraag verwerkt kan worden, 'False' indien de aanvraag niet kan worden verwerkt, 'TeVeelRequests' indien er in korte tijd teveel aanvragen worden gedaan.</wsdl:documentation>
      <wsdl:input message="tns:OpvragenStatusSoapIn"/>
      <wsdl:output message="tns:OpvragenStatusSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="OpvragenStatusServiceHttpGet">
    <wsdl:operation name="OpvragenStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><b>Omschrijving</b><br>Deze functie doet een aanvraag voor de status van een afvalstroomnummer. Terugkoppeling gebeurt met een XML-bericht via E-mail.<br><b>Returns</b><br>'True' indien de aanvraag verwerkt kan worden, 'False' indien de aanvraag niet kan worden verwerkt, 'TeVeelRequests' indien er in korte tijd teveel aanvragen worden gedaan.</wsdl:documentation>
      <wsdl:input message="tns:OpvragenStatusHttpGetIn"/>
      <wsdl:output message="tns:OpvragenStatusHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="OpvragenStatusServiceHttpPost">
    <wsdl:operation name="OpvragenStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><b>Omschrijving</b><br>Deze functie doet een aanvraag voor de status van een afvalstroomnummer. Terugkoppeling gebeurt met een XML-bericht via E-mail.<br><b>Returns</b><br>'True' indien de aanvraag verwerkt kan worden, 'False' indien de aanvraag niet kan worden verwerkt, 'TeVeelRequests' indien er in korte tijd teveel aanvragen worden gedaan.</wsdl:documentation>
      <wsdl:input message="tns:OpvragenStatusHttpPostIn"/>
      <wsdl:output message="tns:OpvragenStatusHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OpvragenStatusServiceSoap" type="tns:OpvragenStatusServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OpvragenStatus">
      <soap:operation soapAction="http://amice.lma.nl/AmiceWebServices3/OpvragenStatus" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OpvragenStatusServiceSoap12" type="tns:OpvragenStatusServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OpvragenStatus">
      <soap12:operation soapAction="http://amice.lma.nl/AmiceWebServices3/OpvragenStatus" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OpvragenStatusServiceHttpGet" type="tns:OpvragenStatusServiceHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="OpvragenStatus">
      <http:operation location="/OpvragenStatus"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OpvragenStatusServiceHttpPost" type="tns:OpvragenStatusServiceHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="OpvragenStatus">
      <http:operation location="/OpvragenStatus"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OpvragenStatusService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><b>Omschrijving</b><br>Deze WebService biedt een functie om de status van afvalstroomnummers in het AMICE systeem op te vragen.</wsdl:documentation>
    <wsdl:port name="OpvragenStatusServiceSoap" binding="tns:OpvragenStatusServiceSoap">
      <soap:address location="https://test.lma.nl/Amice.WebService3/OpvragenStatusService.asmx"/>
    </wsdl:port>
    <wsdl:port name="OpvragenStatusServiceSoap12" binding="tns:OpvragenStatusServiceSoap12">
      <soap12:address location="https://test.lma.nl/Amice.WebService3/OpvragenStatusService.asmx"/>
    </wsdl:port>
    <wsdl:port name="OpvragenStatusServiceHttpGet" binding="tns:OpvragenStatusServiceHttpGet">
      <http:address location="https://test.lma.nl/Amice.WebService3/OpvragenStatusService.asmx"/>
    </wsdl:port>
    <wsdl:port name="OpvragenStatusServiceHttpPost" binding="tns:OpvragenStatusServiceHttpPost">
      <http:address location="https://test.lma.nl/Amice.WebService3/OpvragenStatusService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
